@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 0.75rem 1rem;
  padding-top: 3.5rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 3.3rem 3rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 4rem 2rem;
  }
}
